#container {
    display: flex;
    margin-bottom: 15px;
}

#chess {
    margin-bottom: 20px;
}

.task_table {
    width: 450px;
    border-collapse: collapse;
}

.task {
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 0px
}

.task_black {
    border: 1px solid black;
    padding: 0px
}

.task:nth-child(even) td:nth-child(even){
    background-color: black;
}

.task:nth-child(odd) td:nth-child(odd) {
    background-color: black;
}

.num {
    margin-left: 15px;
}

.task_num {
    border: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.abc {
    display: flex;
    margin-left: 5px;
}

.task_abc {
    border: 1px solid white;
    width: 53px;
    text-align: center;
}

#catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    width: 250px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    background-color:pink;
    border: 1px solid white;
    padding: 10px 25px;
    margin-bottom: 15px;
}

.product_basket {
    background-color:#f1c5b0;
    border: 1px solid black;
}

.product_basket h3{
    font-size: 14px;
    padding: 0px;
}

.product_basket p{
    font-size: 14px;
    padding: 0px;
}